<configuration>
	<appSettings>
		<add key="max_timestamp" value="5" />
		<add key="db_db" value="kerberos" />
		<add key="db_user" value="root" />
		<add key="db_pass" value="12345" />
		<add key="db_host" value="localhost" />
		<add key="db_tb_users" value="user" />
	</appSettings>
	<system.runtime.remoting>
		<application>	
			<service>
				<wellknown
				  mode="Singleton"
				  type="KDC.KDC, KDC"
				  objectUri="kdc" />
			</service>			
			<channels>
				<channel ref="http" port="1234" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>