<configuration>
	<appSettings>
		<add key="RemotingUrl" value="http://localhost:1234/kdc" />
		<!--<add key="RemotingUser" value="http://localhost:12345/workstation" />-->
	</appSettings>	
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown
				  mode="Singleton"
				  type="Workstation.Server, Workstation"
				  objectUri="workstation" />
			</service>		
			<channels>
				<channel ref="http" port="23456" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>