<configuration>
	<appSettings>
		<add key="RemotingUrl" value="http://localhost:1234/kdc" />
	</appSettings>	
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown
					type="ShareClasses.IKDC, ShareClasses"
					url="http://localhost:1234/kdc" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>