<configuration>
	<appSettings>
		<add key="RemotingUrl" value="http://localhost:1234/kdc" />
	</appSettings>	
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown
					type="ShareClasses.IKdc, ShareClasses"
					url="http://localhost:1234/kdc" />
			</client>
			<service>
				<wellknown
				  mode="Singleton"
				  type="Workstation.Server, Workstation"
				  objectUri="workstation" />
			</service>			
			<channels>
				<channel ref="http" port="2345" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>