<configuration>
	<system.runtime.remoting>
		<application>	
			<service>
				<wellknown
				  mode="Singleton"
				  type="KDC.KDC, KDC"
				  objectUri="kdc" />
			</service>			
			<channels>
				<channel ref="http" port="1234" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>